@model ReviewViewModel

<partial name="_Breadcrumbs" model=@(new [] { 
    ("/", "Home"), 
    ("/movie", "Movies"),
    ($"/movie/details/{Model.MovieId}", $"{Model.MovieId}"), 
    ("","Create Review") })>

<h3 class="mt-4 mb-4">Create Review</h3>

<form asp-action="CreateReview">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- we hide the Model MovieId as its not user editable but needs to be in the form  -->
    <!-- to ensure the Review passed to the controller is complete.                        --> 
    <input type="hidden" asp-for="MovieId" class="form-control"/>

    <!-- CreatedOn and Active are not required in the form and are set in contoller before -->
    <!-- passing to service. Issue should be a TextArea input  with 5 rows                 -->
    <div class="form-group">
        <label asp-for="Comment" class="control-label"></label>      
        <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.MovieId>Cancel</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}